<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jogo EICA</title>
        <meta http-equiv="content-type" content="application/xml;charset=utf-8" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <style>
            canvas {   display : block;   margin : auto;}
            body { background: #7ec0ee; }
        </style>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.1/phaser.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.2.6/www/src/brython.js"></script>
        <script type="text/python">
            from eica.main import player
            from braser import Braser
            from browser import doc
            ver = player()
            doc["versiontext"].text = ver
        </script>
    </head>
    <body onLoad="brython(1, {static_stdlib_import: true})" class="main">
        <div style="position:relative; min-height:100%;">
            <div id="pydiv" style="float: left; width: 40%;">
                <span style="color:white">AGUARDE..</span>
                <img src="assets/caveman.gif"  alt="carregando"></img>
            </div>
            <div id="plotdiv" style="float: right; width: 30%;">
                <svg id="plotsvg" viewBox="0 0 500 800" class="chart">
                    <image xlink:href="assets/minu.png" x="0" y="0" height="500px" width="800px"/>
                </svg>
            </div>
            <div id="version" style="position:fixed; right:0px; bottom:0px;">
                <span id="versiontext" style="color:white;"></span>
            </div>
        </div>
        <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    </body>
</html>